
  <p-toolbar>
    <div class="p-toolbar-group-start">
      <p-button icon="pi pi-home" class="mr-2" label="Home" (click)="navigateToHome()"></p-button>
        <p-button icon="pi pi-users" class="mr-2" label="Employees" (click)="navigateToEmployees()"></p-button>
        <!-- <p-button icon="pi pi-plus" class="mr-2" label="Add Employee" (click)="navigateToAddEmployees()"></p-button> -->
       
    </div>
   
  
    <div class="p-toolbar-group-end">
        <p-button icon="pi pi-file-excel" class="mr-2" label="Export to Excel" (click)="exportToExcel()"></p-button>
    </div>
</p-toolbar>
