/* עיצוב כללי */
.p-toolbar {
    width: 80%;
    /* 80% מרוחב הדף */
    margin: 20px auto;
    /* רווח מכל הכיוונים */
    background-color: #f5f5f5;
    /* צבע רקע: שמנת מלוכלך */
    border: 1px solid #333;
    /* מסגרת שחורה דקה */
}

/* קבוצות כפתורים */
.p-toolbar-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* כפתורים */
.p-button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    /* צבע כחול */
    color: white;
    font-size: 18px;
    margin: 0 5px;
    /* רווח בין כפתורים */
}

.p-button:hover {
    background-color: #0056b3;
    /* צבע כחול כהה יותר בעת ריחוף */
}

/* אייקונים */
.pi {
    font-size: 20px;
}

/* שדה חיפוש */
.p-input-icon-left {
    position: relative;
}

.p-input-icon-left i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.p-inputtext {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* כפתור שמירה */
.p-splitbutton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
}

.p-splitbutton:hover {
    background-color: #0056b3;
}

.p-splitbutton-icon {
    margin-right: 5px;
}
.mr-2{
    color: #fff;
  background-color:  #0056b3;
  border:2px solid black;
 
  border-radius: 5px;
  /* קיפולים מעט מעגליים */
  padding: 10px 20px;
  /* הגדלת הריבוע */
  margin-top: 7%;
  margin-left: 3%;
}
